<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="followingEvents" th:each="user: ${following}">
    <div th:each="event : ${user.myEvents}">
        <p >following <span th:text="${event.name}"></span></p>
        <form method="POST" action="#" th:action="'/addoffer/'+ ${event.id}" th:if="${!me.attendedTo.contains(event)}">
            <div th:each="eventNeed: ${event.eventNeeds}">
                <label th:text="${eventNeed.name}"></label>
                <input type="checkbox" th:name="${event.eventNeeds.indexOf(eventNeed)}">

            </div>
            <input type="submit" value="attend">
        </form>
        <form method="post" action="#" th:action="'/unattend/'+${event.id}" th:if="${me.attendedTo.contains(event)}">
            <!--            <label th:text="${eventNeed.name}"></label>-->
            <input type="hidden" th:name="${event.eventNeeds.indexOf(eventNeed)}" value="${eventNeed.name}">
            <input type="submit" value="Un Attend">
        </form>
    </div>
</div>

<div class="ALL EVENTS" th:each="user: ${users}">
    <div th:each="event : ${user.myEvents}">
        <p>all <span th:text="${event.name}"></span> </p>
        <form method="POST" action="#" th:action="'/addoffer/'+ ${event.id}" th:if="${!me.attendedTo.contains(event)}">
            <div th:each="eventNeed: ${event.eventNeeds}">
                <label th:text="${eventNeed.name}"></label>
                <input type="checkbox" th:name="${event.eventNeeds.indexOf(eventNeed)}">
            </div>
            <input type="submit" value="attend">
        </form>
        <form method="post" action="#" th:action="'/unattend/'+${event.id}" th:if="${me.attendedTo.contains(event)}">
<!--            <label th:text="${eventNeed.name}"></label>-->
            <input type="hidden" th:name="${event.eventNeeds.indexOf(eventNeed)}" value="${eventNeed.name}">
            <input type="submit" value="Un Attend">
        </form>
    </div>
</div>



</body>
</html>